{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/Users/juanuys/.boot/cache/tmp/Users/juanuys/Documents/clicker-games/idle-author/1q7f/ozpa12/index.html.out", :output-to "/Users/juanuys/.boot/cache/tmp/Users/juanuys/Documents/clicker-games/idle-author/1q7f/ozpa12/index.html.js", :main boot.cljs.main2026, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__783 0x2f3cd456 "adzerk.boot_cljs.impl$compile_cljs$handler__783@2f3cd456"]]}