{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/Users/juanuys/.boot/cache/tmp/Users/juanuys/Documents/clicker-games/idle-author/1k7j/ozpa12/index.html.out", :output-to "/Users/juanuys/.boot/cache/tmp/Users/juanuys/Documents/clicker-games/idle-author/1k7j/ozpa12/index.html.js", :main boot.cljs.main2026, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__783 0x3aa13b7d "adzerk.boot_cljs.impl$compile_cljs$handler__783@3aa13b7d"]]}