body {
    margin: 5px;
    padding: 5px;
}

.debug {
    background-color: #ee1;
}

/* grid */
.sell {
    grid-area: sell;
}
.upgrade {
    grid-area: upgrade;
}
.stuff {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "sell upgrade"
}

/* grid */
.research {
    grid-area: research;
}
.stats {
    grid-area: stats;
}
.stats-and-research {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "stats research"
}

/* tables */
caption {
    background-color: lightyellow;
    padding: 5px;
}
th {
    background-color: lightcyan;
    padding: 5px;
}
td {
    background-color: lightgray;
    padding: 5px;
}
.gain-loss {
    background-color: white;
}
.gain-loss tr {
    background-color: white;
}
.gain-loss td {
    background-color: white;
}

.newitem:first-of-type {
    display: table-row;
}
.newitem {
    display: none;
}
.olditem + .newitem {
    display: table-row;
}