body {
    margin: 5px;
    padding: 5px;
}

.debug {
    background-color: #ee1;
}

/* tables */
caption {
    background-color: lightyellow;
    padding: 5px;
}
th {
    background-color: lightcyan;
    padding: 5px;
}
td {
    background-color: lightgray;
    padding: 5px;
}
.gain-loss {
    background-color: white;
}
.gain-loss tr {
    background-color: white;
}
.gain-loss td {
    background-color: white;
}

/* old/new */
.newitem:first-of-type {
    display: table-row;
    animation-duration: 1s;
    animation-name: fadein;
}
.newitem {
    display: none;
}
.olditem + .newitem {
    display: table-row;
    animation-duration: 1s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}