body {
    margin: 5px;
    padding: 5px;
}

.debug {
    background-color: #ee1;
}

/* grid */
.sell {
    grid-area: sell;
}
.upgrade {
    grid-area: upgrade;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "sell upgrade"
}

caption {
    background-color: lightyellow;
    padding: 5px;
}
th {
    background-color: lightcyan;
    padding: 5px;
}
td {
    background-color: lightgray;
    padding: 5px;
}

.newitem:first-of-type {
    display: table-row;
}
.newitem {
    display: none;
}
.olditem + .newitem {
    display: table-row;
}